<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cl.order.mapper.base.DictionaryMapper" >
  <resultMap id="BaseResultMap" type="com.cl.order.model.base.Dictionary" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="group" property="group" jdbcType="VARCHAR" />
    <result column="code" property="code" jdbcType="TINYINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="sort_no" property="sortNo" jdbcType="TINYINT" />
    <result column="create_person" property="createPerson" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, `group`, code, name, sort_no, create_person, create_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from o_dictionary
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from o_dictionary
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cl.order.model.base.Dictionary" >
    insert into o_dictionary (id, group, code, 
      name, sort_no, create_person, 
      create_date)
    values (#{id,jdbcType=INTEGER}, #{group,jdbcType=VARCHAR}, #{code,jdbcType=TINYINT}, 
      #{name,jdbcType=VARCHAR}, #{sortNo,jdbcType=TINYINT}, #{createPerson,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.cl.order.model.base.Dictionary" >
    insert into o_dictionary
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="group != null" >
        group,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="sortNo != null" >
        sort_no,
      </if>
      <if test="createPerson != null" >
        create_person,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="group != null" >
        #{group,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        #{code,jdbcType=TINYINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="sortNo != null" >
        #{sortNo,jdbcType=TINYINT},
      </if>
      <if test="createPerson != null" >
        #{createPerson,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cl.order.model.base.Dictionary" >
    update o_dictionary
    <set >
      <if test="group != null" >
        group = #{group,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        code = #{code,jdbcType=TINYINT},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="sortNo != null" >
        sort_no = #{sortNo,jdbcType=TINYINT},
      </if>
      <if test="createPerson != null" >
        create_person = #{createPerson,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cl.order.model.base.Dictionary" >
    update o_dictionary
    set group = #{group,jdbcType=VARCHAR},
      code = #{code,jdbcType=TINYINT},
      name = #{name,jdbcType=VARCHAR},
      sort_no = #{sortNo,jdbcType=TINYINT},
      create_person = #{createPerson,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>