<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cl.order.mapper.book.OrderMainDetailMapper" >
  <resultMap id="BaseResultMap" type="com.cl.order.model.book.OrderMainDetail" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="form_code" property="formCode" jdbcType="VARCHAR" />
    <result column="commodity_no" property="commodityNo" jdbcType="VARCHAR" />
    <result column="commodity_name" property="commodityName" jdbcType="VARCHAR" />
    <result column="product_no" property="productNo" jdbcType="VARCHAR" />
    <result column="size" property="size" jdbcType="VARCHAR" />
    <result column="sell_price" property="sellPrice" jdbcType="DECIMAL" />
    <result column="discount" property="discount" jdbcType="DECIMAL" />
    <result column="quality" property="quality" jdbcType="SMALLINT" />
    <result column="return_quality" property="returnQuality" jdbcType="SMALLINT" />
    <result column="create_person" property="createPerson" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_person" property="updatePerson" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, form_code, commodity_no, commodity_name, product_no, size, sell_price, discount, 
    quality, return_quality, create_person, create_date, update_person, update_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from o_order_main_detail
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from o_order_main_detail
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cl.order.model.book.OrderMainDetail" >
    insert into o_order_main_detail (id, form_code, commodity_no, 
      commodity_name, product_no, size, 
      sell_price, discount, quality, 
      return_quality, create_person, create_date, 
      update_person, update_date)
    values (#{id,jdbcType=INTEGER}, #{formCode,jdbcType=VARCHAR}, #{commodityNo,jdbcType=VARCHAR}, 
      #{commodityName,jdbcType=VARCHAR}, #{productNo,jdbcType=VARCHAR}, #{size,jdbcType=VARCHAR}, 
      #{sellPrice,jdbcType=DECIMAL}, #{discount,jdbcType=DECIMAL}, #{quality,jdbcType=SMALLINT}, 
      #{returnQuality,jdbcType=SMALLINT}, #{createPerson,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, 
      #{updatePerson,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.cl.order.model.book.OrderMainDetail" >
    insert into o_order_main_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="formCode != null" >
        form_code,
      </if>
      <if test="commodityNo != null" >
        commodity_no,
      </if>
      <if test="commodityName != null" >
        commodity_name,
      </if>
      <if test="productNo != null" >
        product_no,
      </if>
      <if test="size != null" >
        size,
      </if>
      <if test="sellPrice != null" >
        sell_price,
      </if>
      <if test="discount != null" >
        discount,
      </if>
      <if test="quality != null" >
        quality,
      </if>
      <if test="returnQuality != null" >
        return_quality,
      </if>
      <if test="createPerson != null" >
        create_person,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updatePerson != null" >
        update_person,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="formCode != null" >
        #{formCode,jdbcType=VARCHAR},
      </if>
      <if test="commodityNo != null" >
        #{commodityNo,jdbcType=VARCHAR},
      </if>
      <if test="commodityName != null" >
        #{commodityName,jdbcType=VARCHAR},
      </if>
      <if test="productNo != null" >
        #{productNo,jdbcType=VARCHAR},
      </if>
      <if test="size != null" >
        #{size,jdbcType=VARCHAR},
      </if>
      <if test="sellPrice != null" >
        #{sellPrice,jdbcType=DECIMAL},
      </if>
      <if test="discount != null" >
        #{discount,jdbcType=DECIMAL},
      </if>
      <if test="quality != null" >
        #{quality,jdbcType=SMALLINT},
      </if>
      <if test="returnQuality != null" >
        #{returnQuality,jdbcType=SMALLINT},
      </if>
      <if test="createPerson != null" >
        #{createPerson,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updatePerson != null" >
        #{updatePerson,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cl.order.model.book.OrderMainDetail" >
    update o_order_main_detail
    <set >
      <if test="formCode != null" >
        form_code = #{formCode,jdbcType=VARCHAR},
      </if>
      <if test="commodityNo != null" >
        commodity_no = #{commodityNo,jdbcType=VARCHAR},
      </if>
      <if test="commodityName != null" >
        commodity_name = #{commodityName,jdbcType=VARCHAR},
      </if>
      <if test="productNo != null" >
        product_no = #{productNo,jdbcType=VARCHAR},
      </if>
      <if test="size != null" >
        size = #{size,jdbcType=VARCHAR},
      </if>
      <if test="sellPrice != null" >
        sell_price = #{sellPrice,jdbcType=DECIMAL},
      </if>
      <if test="discount != null" >
        discount = #{discount,jdbcType=DECIMAL},
      </if>
      <if test="quality != null" >
        quality = #{quality,jdbcType=SMALLINT},
      </if>
      <if test="returnQuality != null" >
        return_quality = #{returnQuality,jdbcType=SMALLINT},
      </if>
      <if test="createPerson != null" >
        create_person = #{createPerson,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updatePerson != null" >
        update_person = #{updatePerson,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cl.order.model.book.OrderMainDetail" >
    update o_order_main_detail
    set form_code = #{formCode,jdbcType=VARCHAR},
      commodity_no = #{commodityNo,jdbcType=VARCHAR},
      commodity_name = #{commodityName,jdbcType=VARCHAR},
      product_no = #{productNo,jdbcType=VARCHAR},
      size = #{size,jdbcType=VARCHAR},
      sell_price = #{sellPrice,jdbcType=DECIMAL},
      discount = #{discount,jdbcType=DECIMAL},
      quality = #{quality,jdbcType=SMALLINT},
      return_quality = #{returnQuality,jdbcType=SMALLINT},
      create_person = #{createPerson,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_person = #{updatePerson,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>